input[type="text"] {
    font-family: sans-serif;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    border-bottom: solid 2px lighten(@primaryColor, 20%);
    transition: border 0.3s;
    padding: 10px;

    &:focus {
        border-bottom: solid 2px @primaryColor;
        outline: none;
    }
}

input[type=submit], button { 
    background:@secondaryColor; 
    color: #FFF;
    border:0 none;
    padding: 10px;
    cursor:pointer;
    text-transform: uppercase;
}

input:read-only {
    background: transparent;
    border: none;
    cursor: text;

    &:focus {
        border: none;
        outline: none;
    }
}

select {
    appearance: none;
    padding: 10px;
    margin: 10px;
    background: #eee;
    border: none;
    height: 50px;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

option {
    background: #eee;
}