input[type="text"], input[type="search"] {
    font-family: sans-serif;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    border-bottom: solid 2px lighten(@primaryColor, 20%);
    transition: border 0.3s;
    padding: 10px;

    &:focus {
        border-bottom: solid 2px @primaryColor;
        outline: none;
    }
}

input[type="submit"], button { 
    background: @secondaryColor; 
    color: #FFF;
    border: none;
    padding: 10px;
    cursor:pointer;
    text-transform: uppercase;
    margin: 10px 0;

    &:hover {
        background: darken(@secondaryColor, 20%);
    }

    a {
        color: #FFF;

        &:hover {
            color: #FFF;
            text-decoration: none;
        }
    }
}

input:read-only {
    background: transparent;
    border: none;
    cursor: text;

    &:focus {
        border: none;
        outline: none;
    }
}

select {
    appearance: none;
    padding: 10px;
    //margin: 10px;
    background: #FFF;
    border: none;
    border-bottom: solid 2px lighten(@primaryColor, 20%);
    height: 50px;
    cursor: pointer;

    &:focus {
        outline: none;
        border-bottom: solid 2px @primaryColor;
    }
}

option {
    background: #eee;
}

.required-tooltip {
    color: #666666;
    font-style: italic;
}