table {
    border: none;
    padding: 10px;
    width: 100%;

    tr, th {
        border: none;
        text-align: center;
        padding: 8px;
    }

    tr:hover {
        background: @grey-200;
    }

    th {
        color: @grey;
    }

    td {
        border: none;
        padding: 8px;
        text-align: center;
    }
}
