table {
    margin: 10px 0;
    border: none;
    width: 100%;

    tr, th, td {
        border: none;
        text-align: center;
        padding: 10px;
    }

    td a {
        display: block;
    }

    input {
        width: 100%;
        text-align: center;
    }

    tr:not(:first-child):hover {
        background: @grey-200;
        input {
            background: @grey-200;
        }
    }

    th {
        color: @grey-700;
    }
}


.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }
td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }