.remove-product {
	max-width: 10px;
	font-size: 18px;
	color: @red;
	cursor: pointer;

	&:hover {
		color: @red-700;
	}
}

.customer-info {
	float: left;
	// h4{
	// 	 display: inline-block;
	// 	 margin: 0;
	// 	 padding: 0;
	// }

	// input {
	// 	width: 100px;
	// 	float: right;
	// }
}

.location-info {
	//height: 300px;
	float: right;
}

.sale-form {
	clear: both;
	padding-top: 10px;
}

.products {
	margin: 10px 0;
	min-width: 1000px;
	max-height: 210px;
	overflow-y: auto;

	th {
		min-width: 90px;
	}

	.product-description {
		min-width: 250px;
	}

	

	.active-row {
		color: @secondaryColor;
	}

}

.payment-method {
	cursor: pointer;
	text-transform: uppercase;
    button {
    	margin: 10px 10px 0 0;
    	width: 110px;
    }
}
