.customer-info {
	float: left;
	// h4{
	// 	 display: inline-block;
	// 	 margin: 0;
	// 	 padding: 0;
	// }

	// input {
	// 	width: 100px;
	// 	float: right;
	// }
}

.location-info {
	//height: 300px;
	float: right;
}

.sale-form {
	clear: both;
	padding-top: 20px;
}

.products {
	
	width: 100%;
	min-width: 1000px;

	.removeProduct {
		cursor: pointer;
	}

	th {
		min-width: 90px;
	}

	.product-description {
		min-width: 250px;
	}

	.product-description-value {
		input {
			text-align: left;
		}
	}
}

.payment-method {
    span {
        cursor: pointer;
    }
}
