.inventory-results {

    td {
        padding: 10px 0;
        pointer: cursor;

        a {
            color: #000;
        }

        a:hover {
            text-decoration: none;
            color: #333;
        }
    }
}