@import "material-colors";
@import "lib";
@import "Material/forms";
@import "Material/tables";
@import "nav";
@import "login";
@import "header";
@import "sidebar";
@import "content";
@import "user-dropdown";
@import "Modals/modal";
@import "Modals/new-sale";
@import "Modals/repair-order";
@import "Modals/part-order";
@import "close-out-form";
@import "print";

body {
	background: #eee;
	padding: 0;
	margin: 0;
	font-family: Roboto;
}

:focus {
    outline: none;
}

.clear-class {
    clear: both; 
    display: hidden;
}