@import "material-colors";
@import "lib";
@import "nav";
@import "login";
@import "header";
@import "sidebar";
@import "content";
@import "user-dropdown";
@import "new-sale";

body {
	background: #eee;
	padding: 0;
	margin: 0;
}

