@import "material-colors";
@import "Material/material-icons";
@import "lib";
@import "Material/forms";
@import "Material/tables";
@import "nav";
@import "login";
@import "header";
@import "sidebar";
@import "content";
@import "user-dropdown";
@import "Modals/modal";
@import "Modals/new-sale";
@import "Modals/repair-order";
@import "Modals/part-order";
@import "close-out-form";
@import "print";
@import "product-info";
@import "table-results";
@import "invoice-info";
@import "stock-transfer-history";
@import "stock-transfer-order";
@import "todo";

body {
	background: #eee;
	padding: 0;
	margin: 0;
	font-family: Roboto;
}

.highlight {
    font-weight: bold;
    color: #000;
}

:focus {
    outline: none;
}

.clear-class {
    clear: both; 
    display: hidden;
}

.print-method {
    visibility: hidden;
}

