.modal {
    position: fixed;
    top: 25% !important;

    .modal-dialog {
       width: 70%;
       margin: 30px auto;
     }


     .new-sale-table {
     	width: 100%;

     	tr {
     		th {
     			text-align: center;
     		}

     		td {
     			input {
     				display: table-cell;
     				text-align: right;
     			}
     		}
     	}
     	.sale-row {
     		td {
     			padding: 5px 2px 5px 0;
     		}
     	}
     }
}



