@media print {
    
    .sidebar, #user-dropdown, h1, .content, .Modal__header, input[placeholder="Search Customer"], input:not([value]), button, hr, .discount {
        display: none;
    }

    .Modal__overlay {
        width: 100%;
    }

    .Modal__container {
        display: block;
        top: 200px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    select, input {
        border: none;
    }

    input {
        margin: 0;
        padding: 0;
    }

    .remove-product {
            display: none;
    }

    .active-row {
        display: none;
    }

    .sale-container {
        display: block;
        width: 98%;
        margin: 0 auto;
        padding: 5px;

        .sale-form {
        }

        .products {
            max-width: 100% !important;
        }

        table {
            max-width: 100% !important;
        }

        th {
            width: 7% !important;
            text-align: left;
            margin: 0;
            padding: 0;
            min-width: 0;
        }

        .product-description {
            width: 30% !important;
            min-width: 0;
            padding-right: 5px;
        }

        td {
            text-align: left;
            margin: 0;
            padding: 0;
            min-width: 0;
        }

        input {
            padding: 0;
            margin: 0;
            text-align: left;
            border: none;
            min-width: 0;
        }

        .customer-info {
            float: left;
        }

        .important-info {
            float: right;
        }
    }
}