.sidebar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background: @indigo-700;
	min-height: 0px;
	max-height: auto;
	padding: 0px;
	color: #fff;
	z-index: 8888;

	.box-shadow(3px 0 15px @boxShadowColor);
	/*-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;*/

	.sidebar-nav {
	    overflow-y: auto;
	    height: auto;
	    margin: 0 auto;
		
	    ul {
	        list-style-type: none;
	        padding: 0;
	        text-align: center;

	        li {
	            margin: 0;
	            padding: 0;
	            float: left;
	            display: inline-block;
	            width: (100% / 6%);

	            a {
	                display: block;
	                padding: 10px;
	                padding-top: 15px;
	                color: #eee;
	                text-decoration: none;
	                margin: 0;

	                .material-icons {
	                    vertical-align: middle;
	                    margin-right: 20px;
	                }
	            }

	            a:hover {
	                text-decoration: none;
	                background: @secondaryColor;
	            }

	        }
	    }
	}
}