.stock-transfer-history {
    
    .stock-tabs {

        .tab {
            padding: 15px 10px;
            margin: 0;
            width: 90px;
            background: @indigo-300;
            border: 1px solid @indigo;

            &:hover {
                background: @indigo-700;
            }
        }

        .tab-active {
            background: @indigo;
            border: 1px solid @indigo-700;
        }

        a:hover, a:active, a:visited {
            text-decoration: none;
        }
    }

    .stock-order-history, .stock-request-history {
        
    }
    
    .order {
        width: 100%;

        .status-Unordered {
            background: @red-100;
            border: 1px solid @red-300;
            color: @red-A700;
            padding: 0 10px;
            padding-top: 9px;
            margin: 3px 0;

            .md-icon-Unordered {
                color: @red-A700;
            }
        }

        .status-Ordered {
            background: @yellow-50;
            border: 1px solid @yellow-300;
            color: @yellow-A700;
            padding: 0 10px;
            padding-top: 9px;
            margin: 3px 0;

            .md-icon-Ordered {
                color: @yellow-A700;
            }
        }

        .status-In-Transit {
            background: @blue-100;
            border: 1px solid @blue-300;
            color: @blue-A700;
            padding: 0 10px;
            padding-top: 9px;
            margin: 3px 0;

            .md-icon-In-Transit {
                color: @blue-A700;
            }
        }

        .status-Completed {
            background: @green-100;
            border: 1px solid @green-300;
            color: @green-A700;
            padding: 0 10px;
            padding-top: 9px;
            margin: 3px 0;

            .md-icon-Completed {
                color: @green-A700;
            }
        }

        p {
            font-size: 18px;
            font-weight: bold;
            display: inline-block;
        }

        .order-date, .order-received {
            font-style: italic;
            font-size: 12px;
            font-weight: normal;
        }

        .order-status, .view-more, .order-received {
            float: right;
            margin: 0 5px;
        }

        .material-icons {
            vertical-align: middle;
            padding-bottom: 3px;
        }
    }

    .completed {
        background: @green-100; 
        border: 1px solid @green-300;
    }

}